@border-style: 1px solid #ccc;
@dialog-height: 600px;
@dialog-margin: 10px 0 30px 0;
@dialog-box-shadow: 0 5px 10px rgba(145, 158, 171, 0.319);
@dialog-border-radius: 15px;

@screen-width: 90vw;
@screen-height: 83vh;

.interview-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: calc(100vh - 64px);

    // .header {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     width: @screen-width;
    //     margin-top: 10px;

    //     .title {
    //         font-size: 16px;
    //         margin-bottom: 10px;
    //     }

    //     .subtitle {
    //         font-size: 14px;
    //     }

    //     .interview-btn {
    //         margin-left: 30px;
    //     }

    //     .pause {
    //         background-color: #ccc;
    //     }
    // }

    .container {
        width: @screen-width;
        border: @border-style;
        box-shadow: @dialog-box-shadow;
        border-radius: @dialog-border-radius;
        height: @screen-height;
        display: flex;
        flex-flow: column;

        .container-header {
            border-bottom: @border-style;
            display: flex;
            width: 100%;
            align-items: center;

            .header-group {
                display: flex;
                margin: 15px;
                flex-wrap: wrap;

                .title {
                    margin-right: 15px;
                    font-weight: 600;
                    font-size: 14px;
                }

                .states {
                    display: flex;

                    .state {
                        margin-right: 15px;
                    }
                }
            }

            .time {
                white-space: nowrap;
                font-weight: 600;
                margin: 0 15px 0 auto;
            }
        }

        .container-body {
            flex: 1;
            position: relative;
            overflow: hidden;

            .drawer {
                user-select: none;
                position: absolute;
                top: 0;
                height: 100%;
                //width: 25%;
                width: 200px;
                border-left: @border-style;
                transition: 300ms;
                display: grid;
                grid-template-rows: 4fr 1fr 3fr 1fr;

                .drawer-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    .drawer-name {
                        font-weight: 600;
                        font-size: larger;
                    }

                    .drawer-check {
                        cursor: pointer;
                        color: rgb(133, 133, 133);
                    }
                }

                .drawer-buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }
            }

            .drawer-closed {
                left: 100%;
            }

            .drawer-opening {
                left: calc(100% - 200px);
            }

            .body-left {
                height: 100%;
                position: relative;
                display: grid;
                grid-template-rows: 6fr 1fr;
                transition: 300ms;

                .answer-block {
                    border-bottom: @border-style;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    overflow: auto;

                    .answer {
                        display: flex;

                        .text {
                            width: 90%;
                            margin-left: 10px;
                            background-color: rgb(244, 246, 248);
                            border-radius: 20px;
                            padding: 15px;
                            word-wrap: break-word;
                        }
                    }
                }

                .question {
                    padding: 15px;
                }

                .drawer-button {
                    color: rgb(145, 158, 171);
                    position: absolute;
                    top: 8%;
                    left: calc(100% - 25px);
                    z-index: 1;
                    width: 25px;
                    height: 30px;
                    border-radius: 5px 0 0 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: @border-style;
                    border-top: @border-style;
                    border-bottom: @border-style;
                    cursor: pointer;
                }
            }

            .body-compressed {
                margin-right: 200px;
            }

            .body-fill {
                margin-right: 0;
            }

        }

    }
}