.interview-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px);
  background-color: pink;
}
.interview-detail .audio-display {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-right: 5px;
}
.interview-detail .audio-display .audio {
  transition: 300ms;
  grid-area: 1 / 1;
}
.interview-detail .audio-display .audio-default {
  color: #686868;
}
.interview-detail .audio-display .audio-loading {
  grid-area: 1 / 1;
  color: #3F9D13;
  pointer-events: none;
  font-size: large;
  transition: 300ms;
}
.interview-detail .audio-display .loading-activated {
  opacity: 1;
}
.interview-detail .audio-display .loading-default {
  opacity: 0;
}
.interview-detail .audio-display .audio-activated {
  color: #3F9D13;
  filter: drop-shadow(0 0 4px #a1ff97);
}
.interview-detail .container {
  background-color: #fff;
  width: 90vw;
  max-width: 1200px;
  max-height: 800px;
  border: 1px solid #ccc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  height: 83vh;
  display: flex;
  flex-flow: column;
}
.interview-detail .container .container-header {
  border-bottom: 1px solid #ccc;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  justify-content: space-between;
  background: #D9D9F2;
}
.interview-detail .container .container-header .title {
  margin-right: 15px;
  font-weight: 600;
  font-size: 14px;
}
.interview-detail .container .container-header .header-left {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}
.interview-detail .container .container-header .header-left .time {
  display: flex;
  align-items: center;
  user-select: none;
}
.interview-detail .container .container-header .header-left .return {
  margin: 0 20px 0 10px;
  cursor: pointer;
}
.interview-detail .container .container-header .header-left .return .duration {
  margin-left: 20px;
  font-weight: 600;
  font-size: 24;
}
.interview-detail .container .container-header .header-button {
  margin-right: 4%;
  padding-left: 7px;
}
.interview-detail .container .container-header .header-button span {
  margin-left: 2px;
}
.interview-detail .container .container-header .states {
  margin-left: 20px;
}
.interview-detail .container .container-header .states .state {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  user-select: none;
}
.interview-detail .container .container-header .states .state img {
  height: 20px;
  margin-right: 5px;
}
.interview-detail .container .container-header .states .state span {
  margin-right: 5px;
}
.interview-detail .container .container-body {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
}
@media screen and (max-width: 585px) {
  .interview-detail .container .container-body .drawer {
    background-color: #fff;
  }
}
.interview-detail .container .container-body .drawer {
  user-select: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 200px;
  border-left: 1px solid #ccc;
  transition: 300ms;
  display: grid;
  grid-template-rows: 7fr 1fr;
  padding: 20px 0 20px 0;
  z-index: 3;
}
.interview-detail .container .container-body .drawer .drawer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-name {
  font-weight: 600;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-check {
  font-size: 16px;
  color: #a8a8a8;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-check span {
  padding-right: 0;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-check .check-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.interview-detail .container .container-body .drawer .drawer-info .help {
  margin-left: 5px;
  font-weight: 200;
  font-size: 16px;
  color: #a8a8a8;
}
.interview-detail .container .container-body .drawer .drawer-info .help:hover {
  transition: 200ms;
  scale: 1.2;
  color: #656565;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-state .state-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-state .state-item img {
  margin-right: 5px;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-setting {
  width: 100%;
  padding: 0 10% 0 10%;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-setting .setting-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-setting .setting-item p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.interview-detail .container .container-body .drawer .drawer-info .drawer-setting .setting-item .setting-select {
  width: 100%;
}
.interview-detail .container .container-body .drawer-closed {
  left: 100%;
}
.interview-detail .container .container-body .drawer-opening {
  left: calc(100% - 200px);
}
.interview-detail .container .container-body .body-left {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 6fr 1fr;
  transition: 300ms;
}
.interview-detail .container .container-body .body-left .answer-block {
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}
.interview-detail .container .container-body .body-left .answer-block .answer {
  padding: 15px;
  border-radius: 15px;
}
.interview-detail .container .container-body .body-left .answer-block .answer .answer-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: top;
  margin-bottom: 5px;
}
.interview-detail .container .container-body .body-left .answer-block .answer .answer-divider {
  width: 100%;
  margin: 5px 0 0 0;
  border-bottom: 1.5px solid #A3A3A3;
}
.interview-detail .container .container-body .body-left .answer-block .answer .answer-content {
  max-width: 530px;
  margin-right: 10px;
}
.interview-detail .container .container-body .body-left .answer-block .answer .answer-comment {
  margin-top: 5px;
  color: #A3A3A3;
  font-size: 16px;
}
.interview-detail .container .container-body .body-left .answer-block .answer .xzs {
  text-align: right;
}
.interview-detail .container .container-body .body-left .answer-block .answer .text {
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #5844CE;
  border-radius: 3px;
  color: #F5F5F5;
  font-size: 14px;
  padding: 8px;
}
.interview-detail .container .container-body .body-left .answer-block .request {
  padding: 15px;
  border-radius: 15px;
}
.interview-detail .container .container-body .body-left .answer-block .request .request-header {
  display: flex;
  margin-bottom: 5px;
}
.interview-detail .container .container-body .body-left .answer-block .request .request-divider {
  width: 100%;
  margin: 5px 0 0 0;
  border-bottom: 1.5px solid #A3A3A3;
}
.interview-detail .container .container-body .body-left .answer-block .request .request-content {
  max-width: 530px;
  margin-right: 10px;
}
.interview-detail .container .container-body .body-left .answer-block .request .request-comment {
  margin-top: 5px;
  color: #A3A3A3;
  font-size: 16px;
}
.interview-detail .container .container-body .body-left .answer-block .request .xzs {
  text-align: left;
}
.interview-detail .container .container-body .body-left .answer-block .request .text {
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #EDEDFB;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  padding: 8px;
}
.interview-detail .container .container-body .body-left .question {
  z-index: 2;
  align-self: center;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: #D9D9F2;
}
.interview-detail .container .container-body .body-left .question .maybe-need-question {
  display: flex;
  flex-wrap: nowrap;
  font-size: 13px;
  align-items: top;
  margin-bottom: 10px;
}
.interview-detail .container .container-body .body-left .question .maybe-need-question p {
  display: inline-block;
  color: #5D5D5D;
  line-height: 30px;
  margin-right: 3px;
}
.interview-detail .container .container-body .body-left .question .question-history {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.interview-detail .container .container-body .body-left .question .question-history .history-item {
  cursor: pointer;
  max-width: 30%;
  min-width: 100px;
  margin-right: 3px;
  padding: 2px 5px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: 300ms;
  background-color: #5844CE;
}
.interview-detail .container .container-body .body-left .question .question-history .history-item:hover {
  border: 1px solid #3F9D13;
  box-shadow: 0 1px 1px 0 #3f9d1374;
}
.interview-detail .container .container-body .body-left .question .question-input {
  width: 100%;
}
.interview-detail .container .container-body .body-left .question .question-input .login-input {
  padding: 0 30px;
  background-color: #7969D8;
}
.interview-detail .container .container-body .body-left .question .question-input .send-button {
  color: '#3F9D13';
  display: flex;
  align-items: center;
  justify-content: center;
}
.interview-detail .container .container-body .body-left .question .question-input .send-button button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.interview-detail .container .container-body .body-left .question .question-input .send-button img {
  height: 75%;
}
.interview-detail .container .container-body .drawer-button {
  font-size: larger;
  background-color: #fff;
  color: #919eab;
  box-shadow: -1px 1px 3px rgba(145, 158, 171, 0.319);
  position: absolute;
  top: 8%;
  z-index: 10;
  width: 25px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: 300ms;
}
.interview-detail .container .container-body .drawer-button-opening {
  left: calc(100% - 225px);
}
.interview-detail .container .container-body .drawer-button-closed {
  left: calc(100% - 25px);
}
.interview-detail .container .container-body .body-fill {
  margin-right: 0;
}
@media screen and (max-width: 585px) {
  .interview-detail .container .container-body .body-compressed {
    margin-right: 0;
  }
}
@media screen and (max-width: 585px) {
  .interview-detail .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0;
  }
}
.animation {
  -webkit-animation: scale-in-tl 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tl 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
