.app {
    display: flex;
    flex-direction: column;
}
.container {
    margin: 0 20px 0 20px;
}
.title {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
}
.btn {
    display: flex;
    justify-content: space-evenly;
}