.assistant-interview {
  background-color: #EDEDFB !important;
}
.assistant-interview .input-box {
  width: 300px;
  height: 40px;
  border: 2px solid #5844CE;
  border-radius: 10px;
}
.assistant-interview .input-box > div {
  width: 220px;
  left: 0px;
}
.assistant-interview .input-box input {
  width: 100%;
  text-indent: 10px;
  background-color: white;
  border-radius: 9px !important;
}
.assistant-interview .input-box .input-icon {
  top: 12px !important;
}
.assistant-interview .ant-form-item .ant-form-item-label > label::after {
  display: none !important;
}
.assistant-interview .ant-select-selector {
  border-radius: 10px;
  background-color: #F5F6FD;
  min-width: 300px;
  border: 2px solid #5844CE !important;
  height: 40px !important;
}
.assistant-interview .ant-select-selector span {
  font-weight: bold;
}
.assistant-interview .ant-radio-group {
  display: flex;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #5844CE !important;
}
.assistant-interview .ant-radio-group .ant-radio-button-wrapper {
  height: 40px;
  width: 40px;
  line-height: 40px;
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #C7C7C7;
  font-size: 15px;
}
.assistant-interview .ant-select-selector:after {
  line-height: 40px !important;
}
.assistant-interview .ant-select .ant-select-arrow {
  top: 67%;
}
.assistant-interview .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border: none !important;
  background-color: #7969D8;
  color: white;
  border-radius: 4px;
}
.assistant-interview .ant-radio-button-wrapper-checked::before {
  background-color: transparent !important;
}
.assistant-interview .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #C7C7C7;
}
.assistant-interview .w-\[400px\] {
  width: 32% !important;
  margin-bottom: 20px;
}
.assistant-interview .border {
  border: 2px solid #5844CE !important;
}
.assistant-interview .liActve {
  background-color: #5844CE;
  color: white;
}
.assistant-interview .filter-ul {
  display: flex;
  border-radius: 999px;
  overflow: hidden;
  border: 1px solid black;
}
.assistant-interview .filter-ul li {
  padding: 5px 13px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 13px;
}
.assistant-interview .filter-ul .noActive {
  background: linear-gradient(90deg, #7867D7 -17.14%, #EE6F84 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.assistant-interview .filter-ul .active {
  background: linear-gradient(90deg, #7867D7 -17.14%, #EE6F84 100%);
  color: white;
  border-left-width: 0;
}
