.interview-detail-edit {
  background-color: white;
  min-height: 100vh;
  padding-top: 30px;
}
.interview-detail-edit header {
  padding: 15px;
}
.interview-detail-edit .interview-content {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1100px;
  margin: 20px auto;
}
.interview-detail-edit .ant-radio-button-wrapper-checked {
  color: white;
  border-color: #7969D8 !important;
  background-color: #7969D8;
}
.interview-detail-edit textarea:hover,
.interview-detail-edit textarea:focus {
  border: 1px solid #cecece;
}
.interview-detail-edit .input-box {
  width: 90%;
}
.interview-detail-edit .input-box input {
  width: 100%;
  background-color: transparent;
  text-indent: 15px;
  text-align: left;
  border: 1px solid #e5e7eb;
}
.interview-detail-edit .input-box span {
  display: none;
}
