@border-style: 1px solid #ccc;
@dialog-height: 600px;
@dialog-margin: 10px 0 30px 0;
@dialog-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
@screen-width: 90vw;
@screen-height: 83vh;
@theme-color: #3F9D13;
@theme-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
@theme-gradient: linear-gradient(90deg, rgba(120, 103, 215, 1) 0%, rgba(238, 111, 132, 1) 100%);

.mock-interview-detail {
    flex-direction: column;
    height: calc(100vh - 64px);
    display: grid;

    .container {
        align-self: center;
        justify-self: center;
        z-index: 1;
        grid-area: 1/1/1/1;
        background-color: #fff;
        width: @screen-width;
        max-width: 1000px;
        max-height: 800px;
        border-radius: 10px;
        height: @screen-height;
        display: flex;
        flex-flow: column;
        box-shadow: @dialog-box-shadow;

        .feedback-window {
            margin-top: 10px;
            padding: 10px;
            position: absolute;
            z-index: 2;
            top: 100%;
            left: 100%;
            transform: translate(-105%, 0);
            background-color: #fff;
            box-shadow: @theme-box-shadow;
            border-radius: 10px;
            width: 240px;
            height: 340px;
            transition: 300ms;

            .feedback-title {
                font-weight: 600;
                font-size: 16px;
            }
        }

        .container-body {
            flex: 1;
            position: relative;
            overflow: hidden;

            @media screen and (max-width:585px) {
                .drawer {
                    background-color: #fff;
                }
            }

            .body-left {
                height: 100%;
                position: relative;
                display: grid;
                overflow: hidden;
                grid-template-rows: 1fr 11fr;
                transition: 300ms;



                .container-body-header {
                    position: relative;
                    display: flex;
                    align-items: center;
                    user-select: none;
                    box-shadow: @dialog-box-shadow;

                    .header-info {
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        font-size: 18px;

                        .info-tab {
                            font-weight: 500;
                            font-size: 14px;
                            border-radius: 20px;
                            padding: 5px 15px;
                            color: #fff;
                            margin-left: 10px;
                        }
                    }

                    .header-title {
                        margin-left: 15px;
                        font-size: 20px;
                    }

                    .header-menu {
                        margin-left: auto;
                        margin-right: 5px;
                        display: flex;
                    }

                    .menu-item {
                        cursor: pointer;
                        font-size: 24px;
                        margin-right: 15px;
                        transition: 300ms;
                    }

                    .menu-item:hover {
                        scale: 1.1;
                    }

                }

                .container-body-contents {
                    display: grid;
                    grid-template-rows: 1fr 12fr 2fr;

                    .interview-timer {
                        margin-top: auto;
                        margin-left: auto;
                        margin-right: 20px;
                        color: #73c80a;
                        font-weight: 600;
                        font-size: 16px;

                        img {
                            height: 24px;
                        }
                    }

                    .contents-interview {
                        display: grid;
                        margin: 5px 20px;
                        border-radius: 10px;
                        grid-template-rows: 3fr 4fr;
                        background-color: #F5F6FD;
                        transition: 300ms;
                        content-visibility: auto;

                        .interview-question {
                            font-size: 16px;
                            background-color: #F5F6FD;
                            border-radius: 10px;
                            padding: 20px 30px 0 30px;
                        }

                        .interview-answer {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;

                            .answer-switch {
                                grid-area: 1/3/2/4;
                                justify-self: flex-end;
                                margin-right: 20px;

                                .switch-background {
                                    width: 150px;
                                    user-select: none;
                                    cursor: pointer;
                                    background: @theme-gradient;
                                    margin-top: 10px;
                                    display: grid;
                                    padding: 2px;
                                    border-radius: 30px;
                                    font-weight: 600;

                                }

                                .switch {
                                    border-radius: 30px;
                                    background: #fff;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    text-align: center;

                                    .switch-active {
                                        margin: -2px;
                                        transition: 300ms;
                                        padding: 5px 0 5px 0;
                                        background: @theme-gradient;
                                        color: #fff;
                                        border-radius: 20px;
                                    }

                                    .switch-inactive {
                                        margin: -2px;
                                        border-radius: 20px;
                                        transition: 300ms;
                                        padding: 5px 0 5px 0;
                                        color: transparent;
                                        background: @theme-gradient;
                                        background-clip: text;
                                        -webkit-background-clip: text;
                                    }
                                }

                            }

                            .answer-background {
                                grid-area: 1/2/2/3;
                                align-self: center;
                                justify-self: center;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 187px;
                                width: 187px;
                                border-radius: 50%;
                                background-color: #F0F0F0;
                                user-select: none;

                                .answer-button {
                                    width: 85px;
                                    height: 85px;
                                    display: grid;
                                    cursor: pointer;
                                    align-content: center;
                                    justify-content: center;
                                    background: #fff;
                                    border-radius: 50%;
                                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                                    transition: 300ms;

                                    span {
                                        font-weight: 600;
                                        font-size: 16px;
                                        text-align: center;
                                    }
                                }

                                .answer-button:hover{
                                }

                            }
                        }

                        .interview-evaluation {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .evaluation-title {
                                user-select: none;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                font-size: 20px;
                                font-weight: 600;
                                display: flex;
                                align-items: center;

                                img {
                                    height: 30px;
                                    margin-right: 5px;
                                }

                                span {
                                    color: transparent;
                                    background: @theme-gradient;
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                }
                            }

                            margin: 0 30px 0 30px;
                            border-top: 1px solid #C4C4CF;

                            .evaluation-text {
                                font-size: 16px;
                            }

                            .evaluation-bottom {
                                display: flex;
                                justify-content: flex-end;
                                margin-bottom: 20px;

                                button {
                                    cursor: pointer;
                                    padding: 10px;
                                    display: flex;
                                    font-weight: 600;
                                    align-items: center;
                                    background-color: #fff;
                                    border: 0;
                                    border-radius: 5px;
                                    box-shadow: 0 4px 8px 0 #7867D7;


                                    img {
                                        margin-left: 5px;
                                    }

                                    transition: 300ms;
                                }
                            }
                        }
                    }

                    .contents-interview-hide {
                        background-color: transparent;
                    }

                    .contents-progress {
                        user-select: none;
                        display: grid;
                        margin: 0 50px 0 50px;
                        align-items: center;
                        position: relative;
                        grid-template-columns: 1fr 8fr;

                        .progress-title {
                            color: #5844CE;
                            font-weight: 600;
                        }

                        .progress-back {
                            grid-area: 1/2/2/3;
                            width: 100%;
                            height: 12px;
                            border-radius: 12px;
                            background-color: #E8E8E8;
                        }

                        .progress-front {
                            grid-area: 1/2/2/3;
                            width: 20%;
                            height: 12px;
                            border-radius: 12px;
                            background: linear-gradient(90deg, #EBE0E2 10.12%, #7969D8 88.04%);

                        }
                    }
                }
            }

        }

    }

    @media screen and (max-width:585px) {
        .container {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

.animation {
    -webkit-animation: scale-in-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-tl {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-tl {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}