.interview-detail-page {
  background-color: white;
  min-height: 100vh;
  padding-top: 30px;
}
.interview-detail-page header {
  background: url("../../imgs/t.png") center / cover no-repeat;
  background-size: 102% 450px;
  min-height: 450px;
  background-position: -10px -10px;
  padding: 15px;
}
.interview-detail-page .interview-content {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1100px;
  margin: 20px auto;
}
