@border-style: 1px solid #ccc;

@screen-width: 80vw;
@screen-height: 85vh;

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.user-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    .user-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 2rem;
        .left {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            .ant-avatar {
                @avatar-width: 120px;
                height: @avatar-width;
                width: @avatar-width;
                line-height: @avatar-width;
                font-size: 60px;
                text-align: center;
            }
        }
        .right {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .username {
                margin-top: 1em;
                font-size: 2em;
                font-style: normal;
                font-weight: 700;
            }
            .ant-btn {
                color: #ccc;
                width: 4em;
                line-height: 16px;
            }
            .ant-btn:hover {
                color: #3f8600;
            }
        }
    }

    .tab-container {
        width: 1280px;
        border-bottom: @border-style;
        display: grid;
        grid-template-columns: 1fr auto;
        .user-menu-list {
            font-size: large;
            font-weight: bold;
            padding-bottom: 1em;
            .ant-menu-item-selected {
                border-bottom-width: 0 !important;
                color: black;
                background-color: #D9D9D9;
                border-radius: 23px;
            }
        }
        .filter-btn {
            height: 46px;
            border-radius: 23px;
            font-weight: bold;
            font-size: large;
        }
    }

    .components-container {
        width: 1280px;
        margin-bottom: 4em;
    }

    @media screen and (max-width: 1280px) {
        .tab-container, .components-container {
            width: 960px;
        }
    }

    @media screen and (max-width: 960px) {
        .tab-container, .components-container  {
            width: 640px;
        }
    }

    @media screen and (max-width: 640px) {
        .tab-container, .components-container  {
            width: 96%;
        }
    }
}

.records-container {

    .records {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    @media screen and (max-width: 1280px) {
        .records {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media screen and (max-width: 960px) {
        .records {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 640px) {
        .records {
            grid-template-columns: 1fr;
        }
    }
}


// ======== MineRecords =========
.dash-card {
    border-style: dashed;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-top: 55px;

    .svg-container {
        height: 22px;
        text-align: center;
    }
    .dash-card-title {
        margin-top: 20px;
        text-align: center;
        color: #111;
        font-family: Arial;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 120% */
    }
    .dash-card-text {
        margin-top: 12px;
        color: #111;
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
    }
    .dash-card-btn {
        margin: auto 66px;
        margin-top: 60px;
        width: 120px;
        height: 50px;
        border-radius: 20px;
        font-size: large;
        font-weight: bold;
    }
}

.person-info {
    .ant-btn {
        font-size: larger;
        font-weight: bolder;
    }
    .title-container {
        margin-top: 2em;
        margin-left: 1em;
        .info-title {
            margin-right: 1em;
            display: inline-block;
            vertical-align: middle;
            color: #111;
            font-family: Arial;
            font-size: 2em;
            font-style: normal;
            font-weight: 700;
            line-height: 2em;
        }
    }
    .info-unit {
        margin-left: 3em;
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .info-subtitle {
            margin-bottom: 1em;
            color: #111;
            font-family: Arial;
            font-size: 1.4em;
            font-style: normal;
            font-weight: 700;
            line-height: 1em; /* 160% */
        }
        .text-subtitle {
            margin: 12px;
            color: #111;
            font-family: Arial;
            font-size: 1.4em;
            font-style: normal;
            font-weight: 700;
            line-height: 1em; /* 160% */
        }
        .info-input {
            width: 100%;
        }
        .delate-btn {
            margin-bottom: 10px;
        }
    }
}