@border-style: 1px solid #ccc;

@screen-width: 80vw;
@screen-height: 85vh;

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.user-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    .user-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 2rem;
        .left {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            .ant-avatar {
                @avatar-width: 120px;
                height: @avatar-width;
                width: @avatar-width;
                line-height: @avatar-width;
                font-size: 60px;
                text-align: center;
            }
        }
        .right {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .username {
                margin-top: 1em;
                font-size: 2em;
                font-style: normal;
                font-weight: 700;
            }
            .ant-btn {
                color: #ccc;
                width: 4em;
                line-height: 16px;
            }
            .ant-btn:hover {
                color: #3f8600;
            }
        }
    }

    .tab-container {
        width: 1280px;
        border-bottom: @border-style;
        display: grid;
        grid-template-columns: 1fr auto;
        .user-menu-list {
            font-size: large;
            font-weight: bold;
            padding-bottom: 1em;
            .ant-menu-item-selected {
                border-bottom-width: 0 !important;
                color: black;
                background-color: #D9D9D9;
                border-radius: 23px;
            }
        }
        .filter-btn {
            height: 46px;
            border-radius: 23px;
            font-weight: bold;
            font-size: large;
        }
    }

    .components-container {
        width: 1280px;
        margin-bottom: 4em;
    }

    @media screen and (max-width: 1280px) {
        .tab-container, .components-container {
            width: 960px;
        }
    }

    @media screen and (max-width: 960px) {
        .tab-container, .components-container  {
            width: 640px;
        }
    }

    @media screen and (max-width: 640px) {
        .tab-container, .components-container  {
            width: 96%;
        }
    }
}

.record-upload {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4em;
    justify-content: space-between;
    align-items: flex-start;

    .text-bold {
        flex-wrap: nowrap;
        color: #111;
        font-family: Arial;
        font-size: large;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 120% */
    }
    .upload-left {
        width: auto;
        margin-right: 24px;
        flex-grow: 1;
        .left-unit {
            border-bottom: @border-style;
            padding: 4px;
        }
        .text-bold {
            min-width: 3em;
        }
        .ant-input {
            height: 45px;
            margin: 6px;
        }
        .small-btn {
            color: #ccc;
            align-self: flex-start;
            margin-top: 8px;
            font-weight: bold;
        }
        .small-btn:hover {
            color: red;
        }
        .add-btn {
            max-width: 10em;
            font-weight: bold;
            font-size: large;
        }
        .add-btn:hover {
            background: none;
            color: #3f8600;
        }
    }
    .upload-right {
        margin-left: 4em;
        width: 300px;
        .text-bold {
            margin-top: 24px;
            margin-bottom: 12px;
        }
    }
}

@media screen and (max-width: 640px) {
    .record-upload {
        flex-direction: column;
        padding: 2em;
        .upload-left {
            margin: auto;
            width: 100%;
        }
        .upload-right {
            margin: auto;
        }
    }
}

