.user-center {
  background-color: #ecedfb;
  padding-bottom: 20px;
  min-height: 100vh;
}
.user-center .header {
  background: linear-gradient(90deg, rgba(234, 72, 106, 0.81) 0%, rgba(88, 68, 206, 0.6) 100%);
}
.user-center .header .header-box {
  height: 120px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.user-center .header .header-box > div {
  display: flex;
  height: 100%;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 16px;
  color: white;
}
.user-center .header .header-box > div p {
  width: 100%;
}
.user-center .header .header-box > div > p:nth-child(1) {
  font-size: 30px;
}
.user-center .header .header-box > div > p:nth-child(2) {
  font-size: 16px;
}
.user-center .user-info {
  display: flex;
  justify-content: space-between;
}
.user-center .user-info > div:nth-child(1) {
  display: flex;
  align-items: center;
  position: relative;
  text-indent: 100px;
  font-size: 20px;
}
.user-center .user-info > div:nth-child(1) img {
  width: 100px;
  height: 100px;
  border-radius: 99px;
  top: -30px;
  position: absolute;
}
.user-center .user-info > div:nth-child(2) {
  font-size: 14px;
  padding: 15px ;
  color: #333333;
}
.user-center .user-info > div:nth-child(2) p {
  padding: 4px 0;
}
.user-center .btn-group {
  padding: 25px 0 40px;
}
.user-center .btn-group button {
  padding: 10px 15px;
  margin-right: 15px;
}
.person-home-title {
  display: flex;
  align-items: center;
  position: relative;
  text-indent: 15px;
  font-size: 18px;
  padding: 10px 0 5px 0;
}
.person-home-title img {
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
}
.person-home-title::before {
  content: '';
  display: block;
  height: 20px;
  width: 5px;
  border-radius: 4px;
  background-color: #5744ce;
  position: absolute;
  left: 0;
  top: 13px;
}
.person-home-title button {
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
}
