.user-center .header {
  background: linear-gradient(90deg, rgba(234, 72, 106, 0.81) 0%, rgba(88, 68, 206, 0.6) 100%);
}
.user-center .header .header-box {
  height: 120px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.user-center .header .header-box > div {
  display: flex;
  height: 100%;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 16px;
  color: white;
}
.user-center .header .header-box > div p {
  width: 100%;
}
.user-center .header .header-box > div > p:nth-child(1) {
  font-size: 30px;
}
.user-center .header .header-box > div > p:nth-child(2) {
  font-size: 16px;
}
.user-center .user-info {
  display: flex;
  justify-content: space-between;
}
.user-center .user-info > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.user-center .user-info > div:nth-child(1) img {
  width: 100px;
  height: 100px;
  border-radius: 99px;
  background-color: red;
}
.user-center .user-info > div:nth-child(2) {
  display: flex;
  align-items: flex-start;
}
