.record-card  {
    width: 280px;
    margin: 20px;

    .ant-card-body {
        padding: 12px;
        
        .interview-info {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            
            .info {
                font-size: 14px;
            }
        }
        
        .interview-footer {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .interview-footer-user {
                display: flex;
                align-items: center;
            }
        }
    }
}