.app {
    display: flex;
    flex-direction: column;
}
.page-title {
    color: white;
    font-size: 20px;
}
.container {
    margin: 0 20px 0 20px;
}
.title {
    font-size: 16px;
    margin-bottom: 10px;
}
.btn {
    display: flex;
    justify-content: space-evenly;
}
.page-menu {
    display: flex;
    align-items: center;
    .login-btn {
        margin-left: 30px;
    }
}
.content {
    min-height: 900;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .gap {
        margin-top: 50px;
    }
    .login-text {
        font-size: 18px;
    }
    .emphasize {
        font-weight: 600;
        color: red;
    }
    .login-send {
        display: flex;
    }
    .login-img {
        width: 250px;
        height: 250px;
        margin: 20px 0;
    }
    .login-input {
        width: 200px;
        height: 40px;
        margin-bottom: 20px;
    }
    .logo {
        width: 100px;
        height: 100px;
        margin-top: 100px;
    }
    .title {
        font-size: 2.75rem;
        font-weight: 800;
        margin-top: 20px;
    }
    .statistics {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .text {
            font-size: 0.875rem;
            font-weight: 600;
            padding: 5px 10px 0 10px;
        }
    }
    .btn {
        width: 600px;
        height: 40px;
        line-height: 30px;
        background-color: #001529;
        margin: 50px 0;
    }
    .records {
        display: flex;
        flex-wrap: wrap;
        padding: 0 50px;
        .interview {
            width: 240px;
            margin: 10px;
            .interview-info {
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
                .info {
                    font-size: 14px;
                }
            }
        }
    }
}
.footer {
    background-color: white;
    font-size: 14px;
    .info {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        .detail {
            width: 200px;
        }
        .connect {
            display: flex;
            .desc {
                width: 200px;
                .links {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .created {
        margin-top: 50px;
    }
}
