//全局

html {
    font-size: 2vw;
}

@media screen and (min-width:1300px) {
    html {
        font-size: 26px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

//
.page-title {
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 20px;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: space-evenly;
}

.page-menu {
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-items: end;
    align-items: center;

    @media screen and (max-width:585px) {
        .page-menu-list {
            width: 60px;
        }
    }

    .login-btn {
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 600;
    }

}

.content {
    min-height: 900;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 100px;
        height: 100px;
        margin-top: 100px;
    }

    .title {
        user-select: none;
        font-size: calc(2.75rem);
        font-weight: 800;
        margin-top: 20px;
        text-align: center;
    }

    

    .statistics {
        display: flex;
        align-items: center;
        margin-top: 20px;
        user-select: none;
        .text {
            font-size: 0.875rem;
            font-weight: 500;
            padding: 5px 5px 0 5px;
        }

        .amount {
            font-size: 1.2rem;
            color: #3f8600;
            font-weight: 600;
        }

        @media screen and (max-width:836px) {
            .text {
                font-size: 14.6px;
            }

            .amount {
                font-size: 20px;
            }
        }
    }

    .btn-container {
        display: flex;

        .btn {
            width: 200px;
            height: 50px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            line-height: 40px;
            margin: 50px 20px 50px 20px;
        }
    }

    @media screen and (max-width: 585px) {
        .btn-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-top: 20px;

            .btn {
                width: 200px;
                height: 50px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                line-height: 40px;
                margin: 10px 20px 10px 20px;
            }
        }
    }

    .records-container {

        .records {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .interview {
                width: 240px;
                margin: 20px;

                .interview-info {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;

                    .info {
                        font-size: 14px;
                    }
                }

                .interview-footer {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .interview-footer-user {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        @media screen and (max-width: 1230px) {
            .records {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media screen and (max-width: 860px) {
            .records {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media screen and (max-width: 585px) {
            .records {
                grid-template-columns: 1fr;
            }

        }
    }





    // 滑动进入动画
    .slide-enter {
        transform: translateY(100%);
    }

    .slide-enter-active {
        transform: translateY(0);
        transition: transform 500ms ease-out;
    }

    // hover弹性动画
    .elastic-effect {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }

    .elastic-effect.hovered {
        transform: scale(1.1);
    }
}

// login
.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gap {
        margin-top: 30px;
    }

    .login-text {
        font-size: 18px;
    }

    .emphasize {
        font-weight: 600;
        color: red;
    }

    .login-send {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login-img {
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }

    .login-input {
        width: 200px;
        height: 40px;
        margin-bottom: 20px;
    }
}

.footer {
    font-size: 14px;

    .info {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .desc {
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            .title{
                font-weight: 600;
                margin-bottom: 10px;
            }

            .links {
                margin-bottom: 5px;
            }
        }
    }

    .created {
        margin-top: 20px;
    }
}