//全局


@media screen and (min-width:1300px) {
    html {
        font-size: 26px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

//
.page-title {
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 20px;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: space-evenly;
}

.hide {
    height: 100%;
}


.mobile-menu {
    display: none;
}

.mobile-menu-logined {
    margin-right: 20px;
    font-size: larger;
    height: 70%;
}

.mobile-menu-list {
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .menu-item-selected {
        margin: 10px;
        color: #3f9d13;
        box-shadow: 3px 0 0 -1px #3f9d13 inset, -3px 0 0 -1px #3f9d13 inset;
    }

    .menu-item-default {
        margin: 10px;
    }
}

@media screen and (max-width:585px) {
    .hide {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

.page-menu {
    display: flex;
    justify-items: end;
    align-items: center;
    height: 100%;

    .page-menu-list {
        display: flex;
        font-size: 16px;
        align-items: center;
        height: 100%;

        span {
            color: #ccc;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px 0 5px;
            margin: 0 10px 0 10px;
            cursor: pointer;
            transition: 300ms;
            height: 60%;
        }

        .menu-item-default:hover {
            color: #3F9D13;
        }

        .menu-item-selected {
            margin: 0 10px 0 10px;
            color: #3F9D13;
            box-shadow: 15px 15px 0px -14px #3F9D13, -15px -15px 0px -14px #3F9D13;
        }
    }

    .login-icon {
        margin-left: 10px;
        margin-right: 20px;
    }
}

.login-btn {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 16px;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.content {
    min-height: 900;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 100px;
        height: 100px;
        margin-top: 100px;
    }

    .title {
        user-select: none;
        font-size: 2rem;
        font-weight: 800;
        margin-top: 20px;
        text-align: center;
        padding: 0 20px;
    }

    .statistics {
        display: flex;
        align-items: center;
        margin-top: 20px;
        user-select: none;

        .text {
            font-size: 0.8rem;
            font-weight: 400;
            padding: 5px 5px 0 5px;
        }

        .amount {
            font-size: 1.2rem;
            color: #3f8600;
            font-weight: 600;
        }

        @media screen and (max-width:836px) {
            .text {
                font-size: 14.6px;
            }

            .amount {
                font-size: 20px;
            }
        }
    }

    .btn-container {
        display: flex;

        .btn {
            width: 200px;
            height: 50px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            line-height: 40px;
            margin: 50px 20px 50px 20px;
        }
    }

    @media screen and (max-width: 585px) {
        .btn-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-top: 20px;

            .btn {
                width: 200px;
                height: 50px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                line-height: 40px;
                margin: 10px 20px 10px 20px;
            }
        }
    }

    .records-container {
        user-select: none;
        display: grid;
        grid-template-columns: 30px 1120px 30px;
        height: 400px;
        place-items: center center;

        .records-button {
            cursor: pointer;
            font-size: 60px;
            color: #ddd;
            transition: 300ms;
            transform: scaleY(4);
        }

        .records-button:hover {
            color: rgb(93,93,93);
        }

        .records-button:active {
            color: #ccc;
        }

        .records-subcontainer {
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            position: relative;

            .records {
                top: 0;
                transition: 400ms;
                position: absolute;
                height: 100%;
                display: flex;

                .find-more {
                    width: 240px;
                    font-size: 24px;
                    margin: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    cursor: pointer;
                    background-color: #fff;
                    border-radius: 10px;
                    user-select: none;
                    font-weight: 600;
                    color: #666;
                }

                .find-more:hover {
                    color: #3F9D13;
                }


                .interview {
                    width: 240px;
                    margin: 20px;

                    .interview-info {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0;

                        .info {
                            font-size: 14px;
                        }
                    }

                    .interview-footer {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .interview-footer-user {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1230px) {
        .records-container {
            grid-template-columns: 30px 840px 30px;
        }
    }

    @media screen and (max-width: 920px) {
        .records-container {
            grid-template-columns: 30px 560px 30px;
        }
    }

    @media screen and (max-width: 640px) {
        .records-container {
            grid-template-columns: 30px 280px 30px;
        }

    }



    // 滑动进入动画
    .slide-up-enter {
        transform: translateY(100%);
    }

    .slide-up-enter-active {
        transform: translateY(0);
        transition: transform 500ms ease-out;
    }

    .slide-down-enter {
        transform: translateY(-100%);
    }

    .slide-down-enter-active {
        transform: translateY(0);
        transition: transform 500ms ease-out;
    }

    // hover弹性动画
    .elastic-effect {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }

    .elastic-effect.hovered {
        transform: scale(1.1);
    }
}

// login
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 55vh;

    .login-text {
        font-size: 18px;
    }

    .emphasize {
        font-weight: 600;
        color: red;
    }

    .login-send {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login-img {
        width: 200px;
        height: 200px;
    }

    .login-input {
        width: 200px;
        height: 40px;
        
    }
    .login-button {
        width: 200px;
        height: 40px;
        background-color:#3f9d13;
    }
}
